.venv
venv/
__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
.zed/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.model
checkpoints/.cache
outputs/
build/
*.py[cod]
*.egg-info/

models/whisper*
samples/*
!samples/example1.wav
temp_dialog/
